#banner-oferta{
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 20px;
}

#banner-oferta-conteiner{
    display: flex;
    gap: 8px;
    justify-content: center;  
}
  
.banner-oferta-img img{
    width: 433px;
}