.oferta-conteudo{
    max-width: 1320px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

.oferta-titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(57, 57, 197);
}

.oferta-conteiner{
    display: flex;
    /* height: 500px; */
    /* margin: auto; */
    gap: 15px;
    justify-content: center;
}

.oferta-conteiner div{
    border: 1px solid rgb(133, 180, 254);
    padding: 7px;
    width: 191.5px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    
}


.oferta-img{
   width: 189px;
   display: block;
}

.oferta-desconto{
    position: absolute;
    top: 0;
    left: 0;
    
    margin: 14px;
    font-size: 12px;
    background-color: rgb(203, 224, 204);
    color: rgb(24, 169, 16);
    padding: 4px 11px;
    border-radius: 20px;
    font-weight: bolder;
}

#oferta-botao{
    border: 1px solid rgb(57, 57, 197);
    border-radius: 8px;
    width: 320px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 22px;
    color: rgb(57, 57, 197);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.oferta-card-titulo{
    margin: 0;
    color: rgb(95, 95, 95);
    font-size: 12.3px;
}

.oferta-avaliacao{
    font-size: 13px;
}


.oferta-preco-antigo{
    text-decoration: line-through;
    margin: 0;
    color:rgb(95, 95, 95);
    font-size: 13px;
}

.oferta-preco-novo{
    font-size: 1.7em;
    margin: 0;
    color: black;
}

.oferta-preco-parcelado{
    margin: 0;
    color: rgb(95, 95, 95);
    font-size: 0.9em;
}